.content {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 75%;
  border-radius: 3px;

}

.innerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 30rem;
  height: 3rem;
  background-color: #D9D9D9;
  border: none;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
 

.top-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

.add-new {
  text-decoration: none;
  color: black;
}

.see-more {
  text-decoration: none;
  color: black;
  margin: 1rem;
}

.edit-link {
  text-decoration: none;
  color: black;
  margin: 1rem;
 }
  
 